<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {color:rgb(6, 218, 247);}
        body {background-color:rgb(88, 38, 38);
            margin-left: 25rem;}
        </style>
    <title>hello</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div >
    </div>
    <h1 class="title">{{.title}}</h1>
    <div>{{.desc}}</div>
    <div>
        <img src={{.image}} alt="Cap-Logo" width="600px" height="500px">
    </div>
    
</body>
</html>